/* .main {
  min-height: 100vh;
  padding: 0.5rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #edf2ef;
}

.headerInput {
  background-color: transparent;
  border: 0px solid;
  height: 30px;
  width: 260px;
}
.headerInput:focus {
  outline: none;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.avatarcircle {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: blue;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.initials {
  position: relative;
  top: 0px; 
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}
.offerborder {
  height: 80px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #f6e05e;
  background-color: white;
}
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

* {
  font-family: "Roboto", sans-serif;
  background-color: #f7f6f2;
}

.translate-x-5 {
  --transform-translate-x: 1.5em;
}

.bg-gray-200 {
  background-color: #f7f6f2;
}

.bg-gray-500 {
  background-color: #acacac;
}

.bg-primary {
  background-color: #3d0185;
}

.text-primary {
  color: #3d0185;
}

.bg-yellow-300 {
  background-color: #faf089;
}
.text-pink-600 {
  color: #ff1b9e;
}

.style-font {
  font-family: "Merienda One", cursive;
}

.scroll-menu .active {
  border: 1px solid #ff1b9e;
  padding: 2px;
}
.h-40 {
  height: 40px;
}
.outline-none:focus {
  outline: none;
}
.w-50px {
  width: 50px;
}
.overflow-x {
  overflow-x: auto;
}
.avatar {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d0185;
  color: #fff;
  border-radius: 50%;
  border: 0px;
  margin: auto;
}
.w-fix {
  width: 65px;
}
.avatar-font {
  font-size: 10px;
  line-height: 14px;
  margin-top: 5px;
}
.offerborder {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #f6e05e;
}
.offertext {
  font-size: 14px;
}
.card-border {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #ffffff;
}
