.main {
  min-height: 100vh;
  padding: 0.5rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #edf2ef;
}

.headerInput {
  background-color: transparent;
  border: 0px solid;
  height: 30px;
  width: 260px;
}
.headerInput:focus {
  outline: none;
}
/* .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
} */
.avatarcircle {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: blue;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.initials {
  position: relative;
  top: 0px; /* 25% of parent */
  font-size: 24px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: "Courier New", monospace;
  font-weight: bold;
}
.offerborder {
  height: 80px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #f6e05e;
  background-color: white;
}
